<head>
    <!-- so meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.open_graph.fb_app_id,
        fb_admins:      theme.open_graph.fb_admins,
        twitter_id:     theme.open_graph.twitter_id,
        google_plus:    theme.open_graph.google_plus,
    }) %>
    <%- meta(page) %>
    <% if (theme.favicon.enabled) { %>
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-light.png" media="(prefers-color-scheme: light)">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-light-32x32.png" media="(prefers-color-scheme: light)">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-light-16x16.png" media="(prefers-color-scheme: light)">
      <link rel="manifest" href="/site-light.webmanifest" media="(prefers-color-scheme: light)">

      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-dark.png" media="(prefers-color-scheme: dark)">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-dark-32x32.png" media="(prefers-color-scheme: dark)">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-dark-16x16.png" media="(prefers-color-scheme: dark)">
      <link rel="manifest" href="/site-dark.webmanifest" media="(prefers-color-scheme: dark)">
    <% } %>
    <!-- title -->
    <title><%= page_title() %></title>
    <!-- styles -->
    <%- css('css/style') %>

    <!-- rss -->
    <% if (theme.rss === '' && config.feed && config.feed.path) { %>
      <% theme.rss = config.feed.path %>
    <% } %>
    <% if (theme.rss) { %>
      <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>

    <!-- canonical link -->
    <% if (is_post()) { %>
      <% if (page.canonical_url) { %>
        <link rel="canonical" href="<%- page.canonical_url %>" />
      <% } %>
    <% } %>

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://panther.codyhatfield.me/script.js" site="ZQMDCMXT" defer></script>
    <!-- / Fathom -->
</head>
